$primary: #512c62;

$secondary: #f75f00;
$secondary: #f75f00;
$secondary-dark: #c93838;

$lighter: #f6f9fc;
$light: #e9ecef;
$dark: #512c62;
$accent: #43ab92;

$headingFont: 'Comfortaa', Helvetica, Arial, sans-serif;