@import 'assets/scss/variables';

footer {
  font-size: 0.95em;
  font-weight: 100;

  .more {
    padding: 2rem 0;
    border-top: solid 1px $light;
    color: fade-out(#000, 0.5);
  }

  .company {
    padding: 2rem 0;
    background: $dark;
    color: fade-out(#fff, 0.5);
  }
}